
<footer class="container-fluid footer">


<a href="https://www.facebook.com/mercerialintimo.dipaola.3" target="_blank"> <i class="footer-icon fab fa-facebook-f"></i></a>
<a href="mailto:paola.caldari@libero.it"> <i class="footer-icon fas fa-envelope"></i> </a>

    <p class="foot-par">© 2021 Copyright Claudia Benedetti</p>
  </footer>
  <script type="text/javascript" src="/scripts/navbar.js"></script>
<script type="text/javascript" src="/scripts/cart.js"></script>
</body>

</html>
