<section class="bottom-section" id="footer">
  <div class="container-fluid">


    <i class="footer-icon fab fa-facebook-f"></i>
    <i class="footer-icon fas fa-envelope"></i>

    <p class="foot-par">© 2021 Copyright Claudia Benedetti</p>
  </div>

</section>
