.top-section {
  background-color: #f4f4f2;
  padding: 5% 3%;
}

h1 {
  font-family: 'Lora', serif, italic;
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 1.5;
  width: 100%;
  color:#495464;
  text-shadow: 3px 3px 3px #e8e8e8;

}

.container {
  padding: 1% 2%;
  border: thin solid #bbbfca;
  text-align: center;
}


.navbar-nav .nav-link {
  font-family: 'Noto Serif', serif;
  font-size: 1.25rem;
      color: #495464;
      margin: 5px 10px;

    }

.cover {
  background-image: url("images/cover2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f4f4f2;;
  padding: 150px;
  text-align: center;
  text-shadow: 2px 2px 2px #495464;
}

h2, h3 {
font-family: 'Lora', serif;
  font-size: 4rem;
  color: white;
  font-weight: 700;
  line-height: 1.5;
}

.medium-container {
  padding: 5% 15%;
  background-color: #f4f4f2;;
  text-align: center;
  font-size: 1.25rem;

}

.container-p{
  padding-bottom: 30px;
  font-family: 'Source Sans Pro', serif;
  font-size: 3rem;

}
.prod-image {
  border-radius: 100px;
  width: 200px;
  margin: 20px;
}

.img-news{
  width:30%;
}

.bottom-section {
  text-align: center;
  padding: 4% 7%;
  background-color: #bbbfca;

}

.footer-icon{
  margin: 10px 10px;
}

.foot-par{
  padding: 1% 7%;

}
