<%- include("partials/header"); -%>
<div class="container container-fluid">



  <div class=" container-fluid productsDiv">
      <p class="prodotti-title"></p>
    <div class="row">




      <div class="col-lg-3 col-md-6 cardCol">




        <div class="card-body">
<img src="/images/canotte.jpg" class="card-img-top" alt="canottiera-donna">


        </div>
      </div>

      <div class="col-lg-3 col-md-6 cardCol">


        <div class="card-body">
<img src="/images/canotte.jpg" class="card-img-top" alt="canottiera-donna">

        </div>
      </div>



      <div class="col-lg-3 col-md-6 cardCol">


        <div class="card-body">
<img src="/images/canotte.jpg" class="card-img-top" alt="canottiera-donna">

        </div>
      </div>

      <div class="col-lg-3 col-md-6 cardCol">


        <div class="card-body">
<img src="/images/canotte.jpg" class="card-img-top" alt="canottiera-donna">


        </div>
      </div>


    </div>

    <div class="row ">




      <div class="col-lg-3 col-md-6 cardCol">


        <div class="card-body">
<img src="/images/canotte.jpg" class="card-img-top" alt="canottiera-donna">



        </div>
      </div>

      <div class="col-lg-3 col-md-6 cardCol">

        <div class="card-body">
<img src="/images/canotte.jpg" class="card-img-top" alt="canottiera-donna">


        </div>
      </div>



      <div class="col-lg-3 col-md-6 cardCol">


        <div class="card-body">
<img src="/images/canotte.jpg" class="card-img-top" alt="canottiera-donna">


        </div>
      </div>

      <div class="col-lg-3 col-md-6 cardCol">


        <div class="card-body">
<img src="/images/canotte.jpg" class="card-img-top" alt="canottiera-donna">


        </div>
      </div>








    </div>
    <div class="row ">
      <div class="container col-lg-3 cart">
        <h4>Carrello</h4>
        <ol class="cartList">

        </ol>
<button type="button" name="button" class="checkOut">Display Total Amount to Pay</button>
      </div>
  </div>
</div>


</div>





<%- include("partials/footer"); -%>
