<%- include("partials/header"); -%>

<div class="container mb-5 mt-5">
  <div class="row">
    <div class="col-lg-3 col-md-4 ">
      <div class="card m-2">
        <div class="productCard align-items-center m-0 text-center"> <img src="/images/canotta1.jpg" class="rounded-bottom" width="200" height="200">

        </div>
        <div class="cartBar  text-center mx-auto  m-2 cursor"> <button type="submit" name="button" class="btn btn-link text-uppercase" id="Canottiera Ellegi">Aggiungi al carrello</button> </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 ">
      <div class="card m-2">
        <div class="productCard align-items-center m-0 text-center"> <img src="/images/canotta2.jpg" class="rounded-bottom" width="200" height="200">

        </div>
        <div class="cartBar  text-center mx-auto  m-2 cursor"> <button type="submit" name="button" class="btn btn-link text-uppercase" id="Canottiera Violetta">Aggiungi al carrello</button> </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 ">
      <div class="card m-2">
        <div class="productCard align-items-center m-0 text-center"> <img src="/images/canotta4.jpg" class="rounded-bottom" width="200" height="200">

        </div>

        <div class="cartBar  text-center mx-auto  m-2 cursor"> <button type="submit" name="button" class="btn btn-link text-uppercase" id="Canottiera Navi">Aggiungi al carrello</button> </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 ">
      <div class="card m-2">
        <div class="productCard align-items-center m-0 text-center"> <img src="/images/canotta4.jpg" class="rounded-bottom" width="200" height="200">

        </div>
        <div class="cartBar  text-center mx-auto  m-2 cursor"> <button type="submit" name="button" class="btn btn-link text-uppercase" id="Canottiera SièLei">Aggiungi al carrello</button> </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3 col-md-4 ">
      <div class="card m-2">
        <div class="productCard align-items-center m-0 text-center"> <img src="/images/canotta4.jpg" class="rounded-bottom" width="200">

        </div>
        <div class="cartBar  text-center mx-auto  m-2 cursor"> <button type="submit" name="button" class="btn btn-link text-uppercase" id="Canottiera it">Aggiungi al carrello</button> </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 ">
      <div class="card m-2">
        <div class="productCard align-items-center m-0 text-center"> <img src="/images/canotta4.jpg" class="rounded-bottom" width="200">

        </div>
        <div class="cartBar  text-center mx-auto  m-2 cursor"> <button type="submit" name="button" class="btn btn-link text-uppercase" id="Canottiera la">Aggiungi al carrello</button> </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4  ">
      <div class="card m-2">
        <div class="productCard align-items-center m-0 text-center"> <img src="/images/canotta4.jpg" class="rounded-bottom" width="200">

        </div>
        <div class="cartBar  text-center mx-auto  m-2 cursor"> <button type="submit" name="button" class="btn btn-link text-uppercase" id="Canottiera ciao">Aggiungi al carrello</button> </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 ">
      <div class="card m-2">
        <div class="productCard align-items-center m-0 text-center"> <img src="/images/canotta4.jpg" class="rounded-bottom" width="200">

        </div>
        <div class="cartBar  text-center mx-auto  m-2 cursor"> <button type="submit" name="button" class="btn btn-link text-uppercase" id="Canottiera lana">Aggiungi al carrello</button> </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-md-center">
    <div class="col-lg-3 col-md-4  cartDiv">

    </div>
    <button type="sumbit" name="button" class="buttonSum">Somma Totale</button>
  </div>
</div>








<%- include("partials/footer"); -%>
