<%- include("partials/header"); -%>

<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d717.4577709894102!2d12.6567071!3d44.0042177!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x4b2134ecfc11e423!2sMerceria%20L&#39;Intimo%20di%20Paola!5e0!3m2!1sen!2sit!4v1618223157059!5m2!1sen!2sit" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy">Dove trovarci</iframe>

<div class="my-4">
  <p>Indirizzo:<br/> Viale Dante 76e, <br/> 47838 Riccione (RN)</p>
<p>Telefono: 01234567</p>
<a href="mailto:paola.caldari@libero.it">paola.caldari@libero.it</a>
</div>
<%- include("partials/footer"); -%>
