<%- include("partials/header"); -%>

  <div class="cover">
    <div class="justify-content-lg-center cover-text">
      <h2>In centro a Riccione</h2>
      <h2>Dal 2013</h2>
    </div>


  </div>
  <section class="mid-section" id="prodotti">

    <div class="container-fluid">
      <p class="container-p">Prodotti</p>
      <div class="row ">

        <div class="col-lg-3 col-md-6 ">
          <a href="/prodotti/canottiere-donna">
          <img src="/images/canotte.jpg" alt="canottiere" class="prod-image">
          <div class="">
            <p class="">Canottiere Donna</p>
          </div>
        </a>

        </div>

        <div class="col-lg-3 col-md-6">
          <img src="/images/reggi.jpg" alt="reggiseni" class="prod-image">
          <p>Intimo Donna</p>
        </div>
        <div class="col-lg-3 col-md-6">
          <img src="/images/vestagliedonna2.png" alt="vestaglie-donna" class="prod-image">
          <p>Vestaglie Donna</p>
        </div>
        <div class="col-lg-3 col-md-6">
          <img src="/images/pigiama-donna.jpg" alt="vestaglie-donna" class="prod-image">
          <p>Pigiami Donna</p>
        </div>
      </div>
      <div class="row ">

        <div class="col-lg-3 col-md-6">
          <img src="/images/pigiamauomo.jpg" alt="pigiama-uomo" class="prod-image">
          <p>Pigiami Uomo</p>
        </div>
        <div class="col-lg-3 col-md-6">
          <img src="/images/calzettiuomo.jpg" alt="calzetti-uomo" class="prod-image">
          <p>Calze Uomo</p>
        </div>
        <div class="col-lg-3 col-md-6">
          <img src="/images/intimo-uomo.jpg" alt="intimo-uomo" class="prod-image">
          <p>Intimo Uomo</p>
        </div>
      </div>
      <div class="row ">

        <div class="col-lg-3 col-md-6">
          <img src="/images/pigiamauomo.jpg" alt="pigiama-uomo" class="prod-image">
          <p>Pigiami Uomo</p>
        </div>
        <div class="col-lg-3 col-md-6">
          <img src="/images/calzettiuomo.jpg" alt="calzetti-uomo" class="prod-image">
          <p>Calze Uomo</p>
        </div>
        <div class="col-lg-3 col-md-6">
          <img src="/images/pigiamabimbi.jpg" alt="pigiama-bimbi" class="prod-image">
          <p>Pigiami Bimbi</p>
        </div>
      </div>
    </div>

    <div class="storia">
      <img src="/images/news-example.jpg" alt="" class="img-news">
    </div>
  </section>

<%- include("partials/footer"); -%>
</body>

</html>
