<%- include("partials/header"); -%>

<div class="cover">
  <div class="justify-content-lg-center cover-text">
    <h2>In centro a Riccione</h2>
    <h2>Dal 2013</h2>
  </div>


</div>

<%- include("partials/footer"); -%>
