<%- include("partials/header"); -%>
<div class="prodotti-page">


<p class="prodotti-title">Prodotti</p>
  <div class="container-fluid">



    <div class="row" id="donna">
        <p class="section-subtitle pt-4">Donna</p>

        <div class="col-lg-3 col-md-6 circle-container">
          <a href="/prodotti/calze-collant-donna">
            <img src="/images/calze-donna.jpg" alt="calze-collant-donna" class="prod-image">
            <div class="text-box">
              <p class="text-content"><em>Calze e Collant</em></p>
            </div>
          </a>
        </div>


      <div class="col-lg-3 col-md-6 circle-container">

        <a href="/prodotti/reggiseni">
          <img src="/images/reggi.jpg" alt="reggiseni" class="prod-image">
          <div class="text-box">
            <p class="text-content"><em>Reggiseni</em></p>
          </div>
        </a>

      </div>
      <div class="col-lg-3 col-md-6 circle-container">
        <a href="/prodotti/slip-donna">
          <img src="/images/slipdonna.jpg" alt="slip-donna" class="prod-image">
          <div class="text-box">
            <p class="text-content"><em>Slip</em></p>
          </div>
        </a>
      </div>

      <div class="col-lg-3 col-md-6 circle-container" >
        <a href="/prodotti/completi-intimo">
          <img src="/images/intimocompleto.jpg" alt="completi-intimo" class="prod-image">
          <div class="text-box">
            <p class="text-content"><em>Completi Intimo</em></p>
          </div>
        </a>

      </div>



    </div>
    <div class="row" id="donna">
      <div class="col-lg-3 col-md-6 circle-container" >
        <a href="/prodotti/canottiere-donna">
          <img src="/images/canotte.jpg" alt="canottiere-donna" class="prod-image">
          <div class="text-box">
            <p class="text-content"><em>Canottiere</em></p>
          </div>
        </a>

      </div>

      <div class="col-lg-3 col-md-6 circle-container">

        <a href="/prodotti/camicie-notte">
          <img src="/images/camicienotte2.png" alt="camicie-notte" class="prod-image">
          <div class="text-box">
            <p class="text-content"><em>Camicie Da Notte</em></p>
          </div>
        </a>

      </div>

      <div class="col-lg-3 col-md-6 circle-container">
        <a href="/prodotti/pigiami-donna">
          <img src="/images/pigiami-donna.jpg" alt="pigiami-donna" class="prod-image">
          <div class="text-box">
            <p class="text-content"><em>Pigiami</em></p>
          </div>
        </a>
      </div>


      <div class="col-lg-3 col-md-6 circle-container">
        <a href="/prodotti/maglie-donna">
          <img src="/images/magliadonna.jpg" alt="maglie-donna" class="prod-image">
          <div class="text-box">
            <p class="text-content"><em>Maglie</em></p>
          </div>
        </a>
      </div>
    </div>
    <hr>

    <div class="row" id="uomo">
        <p class="section-subtitle">Uomo</p>
      <div class="col-lg-3 col-md-6 circle-container">
        <a href="/prodotti/canottiere-uomo">
          <img src="/images/canottiereuomo.jpg" alt="canottiere-uomo" class="prod-image">
          <div class="text-box">
            <p class="text-content"><em>Canottiere Uomo</em></p>
          </div>
        </a>
      </div>
      <div class="col-lg-3 col-md-6 circle-container">
        <a href="/prodotti/intimo-uomo">
          <img src="/images/mutandeuomo.jpg" alt="intimo-uomo" class="prod-image">
          <div class="text-box">
            <p class="text-content"><em>Intimo Uomo</em></p>
          </div>
        </a>
      </div>
      <div class="col-lg-3 col-md-6 circle-container">
        <a href="/prodotti/pigiami-uomo">
          <img src="/images/pigiamauomo.jpg" alt="pigiama-uomo" class="prod-image">
          <div class="text-box">
            <p class="text-content"><em>Pigiami Uomo</em></p>
          </div>
        </a>
      </div>
      <div class="col-lg-3 col-md-6 circle-container">
        <a href="/prodotti/calze-uomo">
          <img src="/images/calzettiuomo.jpg" alt="calzetti-uomo" class="prod-image">
          <div class="text-box">
            <p class="text-content"><em>Calze Uomo</em></p>
          </div>
        </a>
      </div>


    </div>
<hr>


    <div class="row" id="kids">
      <p class="section-subtitle">Kids</p>

            <div class="col-lg-3 col-md-6 circle-container">
              <a href="/prodotti/pigiami-bimba">
                <img src="/images/pigiama-bimba.jpg" alt="pigiama-bimba" class="prod-image">
                <div class="text-box">
                  <p class="text-content"><em>Pigiami Bimba</em></p>
                </div>
              </a>
            </div>

      <div class="col-lg-3 col-md-6 circle-container">
        <a href="/prodotti/pigiami-bimbi">
          <img src="/images/pigiama-bimbo.jpg" alt="pigiami-bimbi" class="prod-image">
          <div class="text-box">
            <p class="text-content"><em>Pigiami Bimbi</em></p>
          </div>
        </a>

      </div>
      <div class="col-lg-3 col-md-6 circle-container">
        <a href="/prodotti/canottiere-mutande-bimbi">
          <img src="/images/canottiere-bimbi.jpg" alt="canottiere-bimbi" class="prod-image">
          <div class="text-box">
            <p class="text-content"><em>Underwear Bimbi</em></p>
          </div>
        </a>

      </div>

      <div class="col-lg-3 col-md-6 circle-container">
        <a href="/prodotti/calzetti-bimbi">
          <img src="/images/calzetti-bimbi.jpg" alt="calzetti-bimbi" class="prod-image">
          <div class="text-box">
            <p class="text-content"><em>Calzetti Bimbi</em></p>
          </div>
        </a>
      </div>


    </div>

</div>
</div>

<%- include("partials/footer"); -%>
