<%- include("partials/header"); -%>
<div class="prodotti-page">


<p class="prodotti-title">Prodotti</p>
  <div class="container-fluid">


    <p class="section-subtitle">Donna</p>
    <div class="row ">

      <div class="col-lg-3 col-md-6 circle-container">
        <a href="/prodotti/canottiere-donna">
          <img src="/images/canotte.jpg" alt="canottiere" class="prod-image">
          <div class="text-box">
            <p class="text-content"><em>Canottiere Donna</em></p>
          </div>
        </a>

      </div>
      <div class="col-lg-3 col-md-6 circle-container">
        <a href="/prodotti/intimo-donna">
          <img src="/images/reggi.jpg" alt="intimo donna" class="prod-image">
          <div class="text-box">
            <p class="text-content"><em>Intimo Donna</em></p>
          </div>
        </a>

      </div>

      <div class="col-lg-3 col-md-6 circle-container">
        <a href="/prodotti/vestaglie-donna">
          <img src="/images/vestagliedonna2.png" alt="vestaglie-donna" class="prod-image">
          <div class="text-box">
            <p class="text-content"><em>Vestaglie Donna</em></p>
          </div>
        </a>
      </div>


      <div class="col-lg-3 col-md-6 circle-container">
        <a href="/prodotti/pigiami-donna">
          <img src="/images/pigiama-donna.jpg" alt="vestaglie-donna" class="prod-image">
          <div class="text-box">
            <p class="text-content"><em>Pigiami Donna</em></p>
          </div>
        </a>
      </div>
    </div>
    <hr>
      <p class="section-subtitle">Uomo</p>
    <div class="row ">
      <div class="col-lg-3 col-md-6 circle-container">
        <a href="/prodotti/canottiere-uomo">
          <img src="/images/canottiereuomo.jpg" alt="canottiere-uomo" class="prod-image">
          <div class="text-box">
            <p class="text-content"><em>Canottiere Uomo</em></p>
          </div>
        </a>
      </div>
      <div class="col-lg-3 col-md-6 circle-container">
        <a href="/prodotti/intimo-uomo">
          <img src="/images/mutandeuomo.jpg" alt="intimo-uomo" class="prod-image">
          <div class="text-box">
            <p class="text-content"><em>Intimo Uomo</em></p>
          </div>
        </a>
      </div>
      <div class="col-lg-3 col-md-6 circle-container">
        <a href="/prodotti/pigiami-uomo">
          <img src="/images/pigiamauomo.jpg" alt="pigiama-uomo" class="prod-image">
          <div class="text-box">
            <p class="text-content"><em>Pigiami Uomo</em></p>
          </div>
        </a>
      </div>
      <div class="col-lg-3 col-md-6 circle-container">
        <a href="/prodotti/calze-uomo">
          <img src="/images/calzettiuomo.jpg" alt="calzetti-uomo" class="prod-image">
          <div class="text-box">
            <p class="text-content"><em>Calze Uomo</em></p>
          </div>
        </a>
      </div>


    </div>
<hr>

    <p class="section-subtitle">Bimbi</p>
    <div class="row ">

            <div class="col-lg-3 col-md-6 circle-container">
              <a href="/prodotti/pigiami-bimba">
                <img src="/images/pigiama-bimba.jpg" alt="pigiama-bimba" class="prod-image">
                <div class="text-box">
                  <p class="text-content"><em>Pigiami Bimba</em></p>
                </div>
              </a>
            </div>

      <div class="col-lg-3 col-md-6 circle-container">
        <a href="/prodotti/pigiami-bimbi">
          <img src="/images/pigiama-bimbo.jpg" alt="pigiami-bimbi" class="prod-image">
          <div class="text-box">
            <p class="text-content"><em>Pigiami Bimbi</em></p>
          </div>
        </a>

      </div>
      <div class="col-lg-3 col-md-6 circle-container">
        <a href="/prodotti/canottiere-mutande-bimbi">
          <img src="/images/canottiere-bimbi.jpg" alt="canottiere-bimbi" class="prod-image">
          <div class="text-box">
            <p class="text-content"><em>Underwear Bimbi</em></p>
          </div>
        </a>

      </div>

      <div class="col-lg-3 col-md-6 circle-container">
        <a href="/prodotti/calzetti-bimbi">
          <img src="/images/calzetti-bimbi.jpg" alt="calzetti-bimbi" class="prod-image">
          <div class="text-box">
            <p class="text-content"><em>Calzetti Bimbi</em></p>
          </div>
        </a>
      </div>


    </div>

</div>
</div>

<%- include("partials/footer"); -%>
