<%- include("partials/header"); -%>

<section class="mid-section" id="prodotti">
<h2 class="section-title">Prodotti</h2>
  <div class="container-fluid">


    <p class="section-subtitle">Donna</p>
    <div class="row ">

      <div class="col-lg-3 col-md-6 circle-container">
        <a href="/prodotti/canottiere-donna">
          <img src="/images/canotte.jpg" alt="canottiere" class="prod-image">
          <div class="text-box">
            <p class="text-content"><em>Canottiere Donna</em></p>
          </div>
        </a>

      </div>
      <div class="col-lg-3 col-md-6 circle-container">
        <a href="/prodotti/intimo-donna">
          <img src="/images/reggi.jpg" alt="intimo donna" class="prod-image">
          <div class="text-box">
            <p class="text-content"><em>Intimo Donna</em></p>
          </div>
        </a>

      </div>

      <div class="col-lg-3 col-md-6 circle-container">
        <a href="/prodotti/vestaglie-donna">
          <img src="/images/vestagliedonna2.png" alt="vestaglie-donna" class="prod-image">
          <div class="text-box">
            <p class="text-content"><em>Vestaglie Donna</em></p>
          </div>
        </a>
      </div>


      <div class="col-lg-3 col-md-6 circle-container">
        <a href="/prodotti/pigiami-donna">
          <img src="/images/pigiama-donna.jpg" alt="vestaglie-donna" class="prod-image">
          <div class="text-box">
            <p class="text-content"><em>Pigiami Donna</em></p>
          </div>
        </a>
      </div>
    </div>
      <p class="section-subtitle">Uomo</p>
    <div class="row ">
      <div class="col-lg-3 col-md-6 circle-container">
        <a href="/prodotti/canottiere-uomo">
          <img src="/images/canottiereuomo.jpg" alt="canottiere-uomo" class="prod-image">
          <div class="text-box">
            <p class="text-content"><em>Canottiere Uomo</em></p>
          </div>
        </a>
      </div>
      <div class="col-lg-3 col-md-6 circle-container">
        <a href="/prodotti/intimo-uomo">
          <img src="/images/mutandeuomo.jpg" alt="intimo-uomo" class="prod-image">
          <div class="text-box">
            <p class="text-content"><em>Intimo Uomo</em></p>
          </div>
        </a>
      </div>
      <div class="col-lg-3 col-md-6 circle-container">
        <a href="/prodotti/pigiami-uomo">
          <img src="/images/pigiamauomo.jpg" alt="pigiama-uomo" class="prod-image">
          <div class="text-box">
            <p class="text-content"><em>Pigiami Uomo</em></p>
          </div>
        </a>
      </div>
      <div class="col-lg-3 col-md-6 circle-container">
        <a href="/prodotti/calze-uomo">
          <img src="/images/calzettiuomo.jpg" alt="calzetti-uomo" class="prod-image">
          <div class="text-box">
            <p class="text-content"><em>Calze Uomo</em></p>
          </div>
        </a>
      </div>


    </div>



    <div class="row ">


      <div class="col-lg-3 col-md-6">
        <img src="/images/pigiamabimbi.jpg" alt="pigiama-bimbi" class="prod-image">
        <p>Pigiami Bimbi</p>
      </div>
    </div>
  </div>


</section>



<%- include("partials/footer"); -%>
