body{
  margin-top:0;
  text-align:center;
}

h1 {
  font-family: 'Lora', serif, italic;
  font-size: 3rem;
  font-weight: 700;
  color:#495464;
  text-shadow: 3px 3px 3px #e8e8e8;
  text-align: center;
  padding: 0 10%;
}
ul{
    padding: 0 6%;
}

/* Header Section */

.top-section{
    background-color: rgb(223, 243, 244);
}

.top-section a{
color: green;
text-decoration: none;
}

.top-section a:hover{
  color:grey;
}
.header {
  background-color: #f9f9f9;
  width: 100%;
  margin: 0;
padding: 0;
}

.weatherDiv {
position: fixed;
z-index: 2;
top:10px;
   right: 10px;

}
.weatherDiv p, img {
  margin: -4px;
}

.weatherIcon{
  width: 50px;
  height: auto
}


.nav-link {
font-family: 'Source Sans Pro', serif;
  font-size: 1.1rem;
      color: #495464;
      letter-spacing: 2px;
    }

.nav-link:hover{
  color:#6ddccf;
  text-shadow: 1px 0.5px0.51px grey;
cursor:pointer;
}
/* Cover Section */
.cover {
  background-image: url("/images/cover2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  padding: 250px 100px;
  margin: 3% 1%;
}

.cover-text{
      text-align: center;
        text-shadow: 2px 2px 2px #495464;
        letter-spacing: 6px;
        font-family: 'Lora', serif;
          color: white;
          font-weight: 700;
}


/* Prodotti Page */
.prodotti-page{
  padding: 2% 10%;
  text-align: center;
  background-color: white;
    font-family: 'Source Sans Pro', serif;
font-size: 2.3rem;
}


.section-subtitle{
  font-size:1.75rem;
  text-decoration: overline;
  padding-top: 3%;
}

.circle-container a{
  position: relative;
  text-decoration: none;
  font-family: 'Source Sans Pro', serif italic;
    font-size: 1.8rem;
    font-weight: 600;
    color: white;
    text-shadow: 1px 1px #495464;
}


.text-box{
  position: absolute;
   top: -40%;
   left: 25%;
   width: 50%;
   height: auto;
}

.circle-container:hover .prod-image {
  opacity: 0.5;
}

.prod-image {
  border-radius: 100px;
  width: 200px;
  margin: 20px;
}

hr{
  height: 2px;
  width: 30%;
  margin: 0 auto;
  margin-top: 10px;
}

/* storia */
.img-news{
  width:30%;
}


/* Contatti Page */




/* Bottom Section */
.footer {
  text-align: center;
  padding: 2% 7%;
  background-color: #a5abbb;

}

.footer-icon{
  margin: 10px 10px;
}

.foot-par{
  padding: 1% 7%;
  margin-bottom: 0;
  font-size: 0.8rem;
}
