h1 {
  font-family: 'Lora', serif, italic;
  font-size: 3.5rem;
  font-weight: 700;
  color:#495464;
  text-shadow: 3px 3px 3px #e8e8e8;
  text-align: center;

}

/* Top Section */
.top-section {
  background-color: #f9f9f9;
  padding: 1% 3%;
  margin-bottom: 1%;
}

/* .container {
  padding: 1% 2%;
  border: thin solid #bbbfca;
} */


.nav-link {
font-family: 'Source Sans Pro', serif;
  font-size: 1.25rem;
      color: #495464;
      letter-spacing: 2px;

    }

.cover {
  background-image: url("/images/cover2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f9f9f9;;
  padding: 250px 100px;



}

.cover-text{
      text-align: center;
        text-shadow: 2px 2px 2px #495464;
        letter-spacing: 6px;
        font-family: 'Lora', serif;
          color: white;
          font-weight: 700;
      width:inherit;

}


/* Mid Section */
.mid-section{
  padding: 5% 10%;
  text-align: center;
  background-color: white;
    font-family: 'Source Sans Pro', serif;

}

.section-title{
  font-size: 2.5rem;
  padding-bottom: 30px;
}

.section-subtitle{
  font-size:1.75rem;
  text-decoration: overline;
  padding-top: 7%;
}

.circle-container a{
  position: relative;
  text-decoration: none;
  font-family: 'Source Sans Pro', serif italic;
    font-size: 1.8rem;
    font-weight: 600;
    color: white;
    position: relative;

}


.text-box{
  position: absolute;
   top: -40%;
   left: 25%;
   width: 50%;
   height: auto;
}



.circle-container:hover .prod-image {
  opacity: 0.5;
}

.prod-image {
  border-radius: 100px;
  width: 200px;
  margin: 20px;
  z-index: 0;
}



.img-news{
  width:30%;
}


/* Bottom Section */
.bottom-section {
  text-align: center;
  padding: 1% 7%;
  background-color: #bbbfca;

}

.footer-icon{
  margin: 10px 10px;
}

.foot-par{
  padding: 1% 7%;

}
